* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

#fragment {
  position: fixed;
  top: 40px;
  bottom: 0;
  right: 0;
  left: 60px;
  background: #fff;
  padding: 5px;
  max-width: 100%;
}

#dialog {
  position: fixed;
  top: 40px;
  bottom: 0;
  right: 0;
  left: 0;
  background: #fff;
  padding: 5px;

  overflow: auto;
}
